<!DOCTYPE html>
<html lang="en">
<head>
  <title>HTML CSS JS</title>
</head>
<body>
  <h1>Ugo Di Giusto – Portfolio</h1>
  <p>my name is Ugo Di Giusto.  I'm passionate about data science and data in general.</p>
  <p> I started getting into it at the end of 2020, self-learning a lot and moving from project to project without sharing anything.</p>
  <p> That's the reason I created this website. To start sharing what I build and to compile my future projects in one place.</p>
  <br>
  <h2>2025</h2>
  <h3>🛠️ WIP: Auto NPC</h3>
  <p>Auto NPC is a tool powered by a Large Language Model (LLM) to generate NPCs for the Legend of the Five Rings (L5R) tabletop role-playing game.</p>
  <p> 👉 You can try it here: <a href="auto_npc"> auto_npc</a> </p>
  <p> The front-end and back-end is complete. You can generate NPCs, save them to a database, and load them later. However, the prompt sent to the LLM still needs significant improvement.</p>
  <p> Currently, only the clan, family, school, advantage, and disadvantage (with their definitions) are passed to the model, with a single prompt.
    <br> Next step: add traits, skills, honor, and status, and improve the prompt by using an agent that helps the LLM plan and highlight the NPC’s key characteristics before generating their background.</p>
  <p> 💻 If you're interested in the code, you can find it here: <a href="https://github.com/Sookan/auto_npc_l5r">https://github.com/Sookan/auto_npc_l5r</a></p>
  <br>
  <h3>🎓  Certification validation project </h3>
  <p>For my Simplon certification, I developed an app that uses AI to predict the 📈 stock market curve. </p>
  <p>The project is no longer running, but you can find how I did it in my project report here 📄: <a href="/static/pdf/E1_DI_GUISTO.pdf">Certification project</a></p>
  <p>The code for the app, data collection, and the legacy model are available here: <a href="https://github.com/Sookan/simplon_final_project">Project app</a> &<a href="https://github.com/Sookan/simplon_final_project_scraping_data_analysis_and_legacy">data, analysis, legacy</a><p>
  <p>In the end, I used <a href="https://github.com/yuqinie98/PatchTST">PatchTST </a>with a training pipeline.</p>
</body>



